<doctype html>
    <title>Lista Telefônica</title>
    <h2>Adicionar Contato</h2>
    <form method="post" action="/add_phone">
    <dl>
	<input type="file" name="File" placeholder="Selecione uma foto (3 MB)" autocomplete="off"/>
    <p>
    <input name="Name" value="" type="text" 
                placeholder="Nome" autocomplete="off" required>
    </p>
    <p>
    <input name="Phone" value="" type="text" 
                placeholder="Telefone" autocomplete="off" required>
    </p>
    <p>
    <input name="Email" value="" type="text"
                placeholder="Email" autocomplete="off" required>
    </p>
    </dl>
    <p>
    <input type="submit" value="Salvar">
    </p>
    </form>