<doctype html>
    <title>Lista Telefônica</title>
    <h2>Editar Contato</h2>
    <form method="post" action="/update_phone">
    <dl>
	<input type="file" name="File" placeholder="Selecione uma foto (3 MB)" autocomplete="off"/>
    <p>
    <input name="Name" value="{{ row['name'] }}"
                     type="text" placeholder="Nome" autocomplete="off" required>
    </p>
    <p>
    <input name="Phone" value="{{ row['phone'] }}" 
                     type="text" placeholder="Telefone" autocomplete="off" required>
    </p>
    <p>
        <input name="Email" value="{{ row['mail'] }}" 
                         type="text" placeholder="Email" autocomplete="off" required>
        </p>
    </dl>
    <p>
    <input name="id" value="{{ row['id'] }}" type="hidden">
    <input type="submit" value="Salvar">
    </p>
    </form>