<doctype html>
    <title>Lista Telefônica</title>
     
    <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>

    <h2>Faça login para continuar</h2>
    <form method="post" action="/">
    <dl>
    <p>
    <input name="Username" value="" type="text" 
                placeholder="Nome de usuário" autocomplete="off" required>
    </p>
    <p>
    <input name="Password" value="" type="password"
                placeholder="Senha" autocomplete="off" required>
    </p>
    </dl>
    <p>
    <input type="submit" value="Entrar">
    </p>
    </form>

    <p><a href="{{ url_for('.singup') }}"> Registre-se aqui </a></p>
   