<doctype html>
    <title>Lista Telefônica</title>
    <h2>Registrar</h2>
    <form method="post" action="/singup">
    <dl>
    <p>
    <input name="Name" value="" type="text" 
                placeholder="Nome" autocomplete="off" required>
    </p>
    <p>
    <input name="Username" value="" type="text" 
                placeholder="Nome de usuário" autocomplete="off" required>
    </p>
    <p>
    <input name="Password" value="" type="password"
                placeholder="Senha" autocomplete="off" required>
    </p>
    </dl>
    <p>
    <input type="submit" value="Salvar">
    </p>
    </form>